# Weather Prediction Using Naive Bayes

## Bayes Formula

P(A/B) = P(B/A)*P(A)P(B)

P(A) = Probability of event A

P(B) = Probability of event B

P(A/B) = Probability of event A given event B has already occured

P(B/A) = Probability of event B given event A has already occures

In [11]:
# import libraries

import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.naive_bayes import GaussianNB

In [12]:
# download the dataset

!wget https://raw.githubusercontent.com/gr8Adakron/naive-bayes-using-python/master/tennis.csv

--2022-11-05 15:08:01--  https://raw.githubusercontent.com/gr8Adakron/naive-bayes-using-python/master/tennis.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.110.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 438 [text/plain]
Saving to: ‘tennis.csv.1’

tennis.csv.1        100%[===================>]     438  --.-KB/s    in 0s

2022-11-05 15:08:01 (32.5 MB/s) - ‘tennis.csv.1’ saved [438/438]

In [13]:
# read csv file

df = pd.read_csv('tennis.csv')
df

     Outlook Temp. Humidity   Windy Play
0      sunny   hot     high  false    no
1      sunny   hot     high   true    no
2   overcast   hot     high  false   yes
3      rainy  mild     high  false   yes
4      rainy  cool   normal  false   yes
5      rainy  cool   normal   true    no
6   overcast  cool   normal   true   yes
7      sunny  mild     high  false    no
8      sunny  cool   normal  false   yes
9      rainy  mild   normal  false   yes
10     sunny  mild   normal   true   yes
11  overcast  mild     high   true   yes
12  overcast   hot   normal  false   yes
13     rainy  mild     high   true    no

In [17]:
# encoding the strings to numericals

outlook_at = LabelEncoder()
Temp_at = LabelEncoder()
Hum_at = LabelEncoder()
win_at = LabelEncoder()
numerics = LabelEncoder()

In [18]:
# dropping the target variable and make it as newframe

inputs = df.drop('Play', axis='columns')
target = df['Play']
target

0      no
1      no
2     yes
3     yes
4     yes
5      no
6     yes
7      no
8     yes
9     yes
10    yes
11    yes
12    yes
13     no
Name: Play, dtype: object

In [21]:
# creating the new dataframe

inputs['outlook_n'] = outlook_at.fit_transform(inputs['Outlook'])
inputs['Temp_n'] = Temp_at.fit_transform(inputs['Temp.'])
inputs['Hum_n'] = Hum_at.fit_transform(inputs['Humidity'])
inputs['win_n'] = win_at.fit_transform(inputs['Windy'])
inputs

     Outlook Temp. Humidity   Windy  outlook_n  Temp_n  Hum_n  win_n
0      sunny   hot     high  false           2       1      0      0
1      sunny   hot     high   true           2       1      0      1
2   overcast   hot     high  false           0       1      0      0
3      rainy  mild     high  false           1       2      0      0
4      rainy  cool   normal  false           1       0      1      0
5      rainy  cool   normal   true           1       0      1      1
6   overcast  cool   normal   true           0       0      1      1
7      sunny  mild     high  false           2       2      0      0
8      sunny  cool   normal  false           2       0      1      0
9      rainy  mild   normal  false           1       2      1      0
10     sunny  mild   normal   true           2       2      1      1
11  overcast  mild     high   true           0       2      0      1
12  overcast   hot   normal  false           0       1      1      0
13     rainy  mild     high   true           1       2      0      1

In [22]:
# dropping the string values

inputs_n = inputs.drop(['Outlook', 'Temp.', 'Humidity', 'Windy'], axis='columns')
inputs_n

    outlook_n  Temp_n  Hum_n  win_n
0           2       1      0      0
1           2       1      0      1
2           0       1      0      0
3           1       2      0      0
4           1       0      1      0
5           1       0      1      1
6           0       0      1      1
7           2       2      0      0
8           2       0      1      0
9           1       2      1      0
10          2       2      1      1
11          0       2      0      1
12          0       1      1      0
13          1       2      0      1

In [23]:
# applying the gaussian naivebayes

classifier = GaussianNB()
classifier.fit(inputs_n, target)

GaussianNB()

In [24]:
# accuracy

classifier.score(inputs_n, target)

0.9285714285714286

In [26]:
# prediction

classifier.predict([[1, 0, 0, 1]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  "X does not have valid feature names, but"

array(['no'], dtype='<U3')